input {
	border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
}
input:focus {
  	outline: none;
}

.small {
	width: 25%;
}
.medium {
	width: 50%;
}
.large {
	width: 75%;
}
.standard {
	width: 100%;
}